!Xresource file

URxvt*depth: 50 --24
URxvt*geometry: 75x25
xURxvt.borderColor: #191918
URxvt.internalBorder: 10 
!URxvt.cursorUnderline: false
URxvt.cursorBlink: true

URxvt*iconFile: /usr/share/icons/Flattr/apps/scalable/bash.svg
!--Get solarized colors right
URxvt.intensityStyles: false
!URxvt*.transparent: true
!URxvt*.shading: 90
!URxvt*.blurRadius: 20


! -- scrollbar
URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt*scrollTtyOuput: false
URxvt*scrollWidthBuffer: true
URxvt*scrollTtyKeypress: true

! -- login shell
URxvt*loginShell: false

! -- font
URxvt.font: xft:Terminus:pixelsize=14
!URxvt.font: xft:Terminus:pixelsize=18
!URxvt.font: xft:Droid Sans Mono:size=10
!URxvt.font: xft:Ubuntu Mono:size=10
!URxvt.font: xft:PragmataPro:size=10
!URxvt.font: xft:Inconsolata:size=10
!URxvt.font: xft:Liberation Mono:size=10
!URxvt.font: xft:berry:pixelsize=12
!URxvt.font: xft:tewi-8
!URxvt.font: xft:terminus:size=8
!URxvt.font: xft:tamsyn:size=8
!URxvt.font: xft:cure-8
URxvt.boldFont:
URxvt*letterSpace: -2
!URxvt*lineSpace: 2

! -- perl
URxvt.perl-ext-common: default,tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tab-fg: 3
URxvt.tab-bg: 0
!URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.colorUL: #9472ec

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

!! Rofi
rofi.width:		50
rofi.padding:		300
rofi.fullscreen: 	true
rofi.fixed-num-lines:   true
rofi.bw:		1
rofi.location:		0
rofi.terminal:		termite
rofi.lines:		10
rofi.eh:		1
rofi.font:		Channel 4 hack 16
rofi.color-window: argb:aa263238, argb:aa263238, #26a69a
rofi.color-normal: argb:0263238, #eceff1, argb:0263238, #f4246b, #eceff1
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
