@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("4chan.org") {
    * {
        font-family: "Droid Sans", "Source Sans Pro" !important;
        font-size: 10pt !important;
    }
    html,body, .extPanel, .panel, kbd,
    #bd *, #ft *, .yui-g *, .top-box, .top-box *,
    table, tr, td, .pagelist {
        background: #17181A !important;
        color: #CECFD1 !important;
        border: 0 !important;
    }
    #quote-preview {
        background: #27282B !important;
        color: #CECFD1 !important;
    }

    /* Set URL to your Waifu (Comment out to remove) */
    /*
    body {
        background: url("http://twily.info/img/twilight-reading.png") no-repeat right -70px bottom 50px fixed !important;
        min-height: 100% !important;
    }
    /**/

    s { background: #111113 !important; color: #111113 !important; }
    s:hover { background: inherit !important; }


    .flashListing tr td:nth-child(3), .flashListing tr td:nth-child(4), .flashListing tr td:nth-child(10) { color: #17181A !important; }
    .flashListing tr:nth-child(1) td:nth-child(3) { color: #CECFD1 !important; }

    .boardList, #navbotright, .navLinks, .btn-wrap,
    #togglePostFormLink, #navtopright, .navLinksBottom {
        color: #17181A !important;
        font-weight: normal !important;
    }
    .sideArrows { color: #17181A !important; display: none !important; }

    center object { display: none !important; }

    div.post.op input[type="checkbox"] { display: none !important; }
    div.post input[type="checkbox"] {
        margin: 0 !important; padding: 0 !important;
        opacity: 0 !important;
        transition: .2s ease !important;
    }
    div.post input[type="checkbox"]:hover { opacity: 1 !important; }
    div.post input[type="checkbox"]:checked { opacity: 1 !important; }

    div.post .file { margin-left: 20px !important; }
    div.post.op .file { margin-left: 0 !important; }

    .navLinks span, .navLinks label { color: #a7a7a7 !important; }
    .board .thread { margin-right: 16px !important; }
    .navLinksBot { margin-top: 15px !important; }

    .navLinksBot .open-qr-wrap {
        padding-top: 40px !important; z-index: 10 !important;
    }

    #quickReply {
        border: 0 !important;
        background: #27282B !important;
        z-index: 100 !important;
    }
    #qrHeader, #quickReply img {
        color: #d6d7d9 !important;
        background: #27282B !important;
        border: 1px solid transparent !important;
    }
    #quickReply input[type="text"],
    #quickReply textarea {
        border: 1px solid transparent !important;
        background: #27282B !important;
    }
    input[type="button"], input[type="submit"] {
        -moz-appearance: none !important;
        background: #25272A !important; color: #aaa !important;
        border: 2px solid #25272A !important; border-radius: 2px !important;
    }
    input[type="file"] { width: 210px !important; }

     /* images */
    .fileText {
        opacity: 0 !important;
        max-height: 0px !important;
        transition: .4s ease-out !important;
    }
    .file:hover .fileText,
    .file.image-expanded .fileText {
        opacity: 1 !important;
        max-height: 22px !important;
    }

    .threadHideButton, .expbtn { display: none !important; }
    .summary { float: right !important; }

    div.post.reply.preview, div.post.op.preview, #quickReply, /*.reply:target, .reply.highlight,*/
    .thumb, .fileThumb img, .file video {
        /*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
            0px 1px 1px rgba(0, 0, 0, 0.2),
            0px 2px 2px rgba(0, 0, 0, 0.2) !important;*/
        box-shadow: 0 0 3px 0 #111113 !important;
        /*border-bottom: 2px solid #111113 !important;*/
    }

    .file.image-expanded .fileThumb > .expanded-thumb {
        max-width: 100% !important;
    }

    .extButton, #qrCaptcha {
        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }

    .quote { color: #b2f463 !important; }
    .postertrip { color: #d54a56 !important; }
    .name { color: #CECFD1 !important; }
    .dateTime { /*color: #5f656b !important;*/ }
    .subject { color: #f4aa5c !important; }

    a:link, a:visited,
    #content .button, a.replylink:not(:hover),
    #boards a, #post-menu ul li,
    .yotsuba_b_new .backlink a {
        color: #0099cc !important;
        /*font-size: 10pt !important;*/
        text-decoration: none !important;
    }
    a:hover, a:active,
    div.post div.postInfo span.postNum a:hover,
    #content .button:hover, #post-menu ul li:hover,
    .yotsuba_b_new .backlink a:hover {
        color: #63B9D6 !important;
        text-decoration: underline !important;
    }

    .deadlink {
        color: #5f656b !important;
        font-weight: normal !important;
        /*font-size: 12pt !important;*/
    }

    div.post {
        background: transparent !important; display: block !important;
        border: 0 !important; border-radius: 0px !important;
        padding: 4px !important; margin: 4px !important;
        margin-left: 20px !important;
    }
    div.post.op {
        background: transparent !important;
    }

    .newPostsMarker {
        box-shadow: 0 2px #e24f5e !important;
    }

    div.post.reply .postInfo {
        display: block !important; background: inherit !important;
        padding: 2px !important; width: 100% !important;
    }

    .postMenuBtn {
        position: relative !important;
        top: -2px !important; left: -1px !important;
        width: 10px !important; height: 6px !important; font-size: 6pt !important;
    }
    /*div.post.reply .postInfo .postMenuBtn { font-family: "Droid Sans Mono" !important; font-size: 10pt !important; }*/

    .reply:target, .reply.highlight {
        border: 0 !important;
        background: #27282B !important;
    }
    div.post.reply.preview, div.post.op.preview {
        border: 0 !important;
        background: #27282B !important;
    }

    .postContainer.replyContainer.deleted {
        opacity: 0.3 !important;
    }
    .postContainer.replyContainer.post-hidden {
        opacity: 0.3 !important;
        margin-left: 17px !important;
    }

    .prettyprint.prettyprinted *, .prettyprint * { font-family: "PragmataPro","Droid Sans Mono", Monospace !important; }
    .prettyprint.prettyprinted, .prettyprint {
        background: #111113 /* inherit */ !important;
        color: #d6d7d9 !important;
        border: 0 !important; border-top: 4px solid #27282B !important;
        box-shadow: 0 0 3px 0 #111113 !important;
    }
        .prettyprint .str, .prettyprint .atv { color: #d54a56 !important; }    /*  red     */
        .prettyprint .typ, .prettyprint .atn { color: #84bd3f !important; }    /*  green   */
        .prettyprint .kwd                    { color: #cb873d !important; }    /*  yellow  */
        .prettyprint .com, .prettyprint .dec { color: #7955da !important; }    /*  blue    */
        .prettyprint .lit                    { color: #dc52a5 !important; }    /*  purple  */
        .prettyprint .pun, .prettyprint .tag { color: #45b791 !important; }    /*  cyan    */
        .prettyprint .pln                    { color: #CECFD1 !important; }    /*  white   */
    /*
    .postContainer:hover > div.post {
        background: #D6BAD0 !important;
    }*/

    hr, .absBotDisclaimer, .center, #blotter,
    .boardBanner, .globalMessage, #toggleMsgBtn {
        display: none !important;
    }

    .deleteform, .stylechanger, .boardList,
    #navbotright, #navtopright,
    #settings, #styleSwitcher {
        opacity: 0 !important; transition: .2s !important;
    }
    .deleteform:hover, .stylechanger:hover, .boardList:hover,
    #navbotright:hover, #navtopright:hover,
    #settings:hover, #styleSwitcher:hover {
        opacity: 1 !important;
    }

    .thread-stats { margin-top: 5px !important; }

    .UIPanel .extPanel.reply .center,
    #theme-btns .center { display: inline-block !important; }

    .party-hat { display: none !important; }
}

/* Google Recaptcha style */
@-moz-document regexp("https?://.*.(google.com/recaptcha/api2).*") {
    *:not([class*="recaptcha-checkbox"]) {
        color: #CECFD1 !important; background: #27282B !important;
        border: 0 !important; border-radius: 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .recaptcha-checkbox-border { background: #27282B !important; }

    .rc-anchor-logo, .rc-anchor-privacy { display: none !important; }
}
