!Xresource file

URxvt*depth: 50 --24
URxvt*geometry: 75x25
xURxvt.borderColor: #191918
URxvt.internalBorder: 10 
!URxvt.cursorUnderline: false
URxvt.cursorBlink: true

URxvt*iconFile: /usr/share/icons/Flattr/apps/scalable/bash.svg
!--Get solarized colors right
URxvt.intensityStyles: false
!URxvt*.transparent: true
!URxvt*.shading: 90
!URxvt*.blurRadius: 20


! -- scrollbar
URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt*scrollTtyOuput: false
URxvt*scrollWidthBuffer: true
URxvt*scrollTtyKeypress: true

! -- login shell
URxvt*loginShell: false

! -- font
URxvt.font: xft:Terminess Powerline:pixelsize=14
!URxvt.font: xft:Terminus:pixelsize=18
!URxvt.font: xft:Droid Sans Mono:size=10
!URxvt.font: xft:Ubuntu Mono:size=10
!URxvt.font: xft:PragmataPro:size=10
!URxvt.font: xft:Inconsolata:size=10
!URxvt.font: xft:Liberation Mono:size=10
!URxvt.font: xft:berry:pixelsize=12
!URxvt.font: xft:tewi-8
!URxvt.font: xft:terminus:size=8
!URxvt.font: xft:tamsyn:size=8
!URxvt.font: xft:cure-8
URxvt.boldFont: xft:Terminess Powerline:pixelsize=14
URxvt*letterSpace: 1
!URxvt*lineSpace: 2

! -- perl
!URxvt.perl-ext-common: default,tabbed
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tab-fg: 3
!URxvt.tab-bg: 0
URxvt*perl-lib:     /usr/lib/urxvt/perl
URxvt*perl-ext-common:  default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.keysym.Mod4-v: perl:clipboard:paste
!URxvt.colorUL: #9472ec


URxvt.background:               #1b1b1b
URxvt.foreground:               #FFFFFF
URxvt.colorBD:                  #CFCFCF
URxvt.colorUL:                  #969696
URxvt.colorIT:                  #686868
!Black
*color0:                        #3D3D3D
*color8:                        #4D4D4D 
!Red
*color1:                        #6673BF
*color9:                        #899AFF 
!Green
*color2:                        #3EA290
*color10:                       #52AD91
!Yellow
*color3:                        #B0EAD9
*color11:                       #98C9BB
!Blue
*color4:                        #31658C
*color12:                       #477AB3
!Magenta
*color5:                        #596196
*color13:                       #7882BF
!Cyan
*color6:                        #8292B2
*color14:                       #95A7CC
!White
*color7:                        #C8CACC
*color15:                       #EDEFF2      


!! Rofi
rofi.width:		50
rofi.padding:		10
rofi.fullscreen: 	false
rofi.fixed-num-lines:   true
rofi.bw:		1
rofi.location:		0
rofi.terminal:  urxvt
rofi.lines:		2
rofi.eh:		1
rofi.font:		Channel 4 Terminus 16
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281

